@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }

  body.loading * {
    cursor: wait !important;
  }
}

@keyframes pokemon-attack-player {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(0, 0) rotate(10deg);
  }
  40% {
    transform: translate(0, 0) rotate(-10deg);
  }
  60% {
    transform: translate(60px, -20px) rotate(0deg) scale(1.1);
  }
  80% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes pokemon-attack-enemy {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(0, 0) rotate(-10deg);
  }
  40% {
    transform: translate(0, 0) rotate(10deg);
  }
  60% {
    transform: translate(-60px, -20px) rotate(0deg) scale(1.1);
  }
  80% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.animate-attack-player {
  animation: pokemon-attack-player 0.8s ease-in-out;
}

.animate-attack-enemy {
  animation: pokemon-attack-enemy 0.8s ease-in-out;
}
